button {
    border: none;
    background-color: unset;
    cursor: pointer;
    width: 50px;

    font-family: $sans-font;

    &:focus {
        outline: none;
    }

}

button.lozenge {
    border: none;
    background-color: unset;
    cursor: pointer;

    color: black;

    font-family: $sans-font;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $orange;
    }

    width: 180px;
    height: 2em;
    border: 1px black solid;
    border-radius: 30px;

    &.larger {
        height: 2.4em;
        width: 280px;
        border-radius: 60px;
        font-size: 0.9em;

        @include respond-below("mb-l") {
            height: 2.3em;
            width: 280px;
            border-radius: 50px;
            font-size: 0.9em;
        }
    }
}

button.text-button {
    h5 {
        font-family: $font-face;
        display: inline;
    } 
    width: unset;
    position: relative;
    
    &.selected {
        color: $red;
    }

    &:after {
        content: '';
        position: absolute;
        top: 25%;
        height: 75%;
        left: 100%;
        border-right: 1px solid black;
      }

    &:last-of-type {
        &:after {
            content: none;
        }
    }
}