$font-face: "Averia Serif Libre";
$font-base-size: 24px;

$heading-font: "Bilbo Swash Caps";

$sans-font: "Averia Sans Libre";

$base-color: #fffff1;
$teal: #008182;
$hover-color: gold;

$mb-head-foot-size: 30px;
$mb-head-foot-btn-size: 30px;
