.grid {
    display: grid;

    &--3w {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
        grid-auto-flow: column;
    }

    &--2w {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    &--2h {
        grid-template-rows: 1fr 1fr;
        row-gap: 1em;
    }

    &--less-gap {
        column-gap: 0.5em;
        row-gap: 0.5em;
    }

    &--mb-3h {
        @include respond-between("mb-s", "mb-l") {
            grid-template-columns: unset;
            grid-auto-flow: row;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            row-gap: 1em;
            text-align: center;
        }
    }
}
