.w {
    &--100 {
        width: 100%;
    }
    &--90 {
        width: 90%;
    }
    &--80 {
        width: 80%;
    }
    &--70 {
        width: 70%;
    }
    &--60 {
        width: 60%;
    }
    &--50 {
        width: 50%;
    }
}
