.ligature {
    font-family: $heading-font;
    font-size: 3rem;
    color: black;
    line-height: 0.6;
}

p {
    font-size: 0.7rem;
    color: $teal;

    &.indent {
        text-indent: 3em;
        margin-top: -1em;
    }
}

p {
    &.color-teal,
    .color-teal {
        color: $teal;
    }

    &.color-blue,
    .color-blue {
        color: $blue;
    }
}

pre {
    font-size: 0.7em;
    color: $teal;
    font-family: $font-face;
}

li {
    color: $teal;
    font-size: 0.7em;
    margin: 0 0 0.5em 0;
}

h1 {
    font-family: $heading-font;
    font-size: 2.6em;
    font-weight: 400;

    @include respond-below("mb-l") {
        font-size: 1.6em;
    }
}

h2 {
    font-family: $sans-font;
    font-size: 0.8em;
    margin-top: 0.3em;
    padding-top: 0em;
    font-weight: 400;
}

h4 {
    font-size: 0.7em;
}

h5 {
    font-size: 0.6em;
}

a {
    color: black;
    text-decoration: underline;
    word-break: break-all;
}

div.center-text {
    text-align: center;
}

p.center-text {
    text-align: center;
}

.palsta {
    width: 600px;
    max-width: 80%;
    margin: 0 auto;

    @include respond-below("mb-l") {
        max-width: 90%;
    }
}
