@import "base";

@import "editions/s2020";
@import "editions/s2021";

@import "pages/frontpage";
@import "pages/article";
@import "pages/about";
@import "animations";
@import "svg";
@import "text";
@import "modal";
@import "img";
@import "grids";

.App {
    position: absolute;
    width: 100%;
    height: 100%;

    @include respond-above("mb-l") {
        min-height: 670px;
        min-width: 760px;
    }

    overflow: scroll;
}
