.s2021 {
    .bckground {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.content-field {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    .palsta p {
        color: $brown;
    }

    .content {
        a {
            color: $red;
            text-decoration: none;
        }
    }
}

.jasenet {
    img {
        border: 1px solid black;
    }
}

.fluctuants {
    .floatie {
        position: sticky;
        height: 0;
        width: 20em;

        button {
            position: absolute;
            top: -20px;
            right: -20px;
        }

        img,
        div {
            width: 20em;
        }
    }
}
