.s2020 {
    .bckground {
        background-image: url("/img/s2020-bkgrnd.jpg");
        background-size: cover;
        background-position: initial;

        &.bckground-bttm {
            background-position: bottom;
        }
    }

    &.content-field {
        background-image: url("/img/s2020-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2020-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }
}

.content {
    color: $teal;

    .title {
        color: black;
    }

    .modal-content {
        color: black;
    }
}

.polab {
    #playlist {
        left: 20%;
        position: absolute;

        @include respond-below("mb-l") {
            position: relative;
            width: 100%;
            left: unset;
        }
    }

    .chatbox {
        width: 350px;
        height: 470px;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;

        .chat-title {
            height: 30px;
            border-bottom: 1px solid black;
            h2 {
                margin-top: 0;
                padding-top: 0.2em;
                padding-left: 0.3em;
            }
        }

        .chat-content {
            height: calc(100% - 30px);
            overflow-y: scroll;
            font-size: 0.9em;
            font-family: $sans-font;
            padding: 0 1em 0 1em;

            p {
                color: black;
            }

            img {
                width: 80%;
            }
        }
    }

    .kotiklubi {
        position: relative;
        left: 50%;
        top: 5em;
        margin-left: 1em;

        @include respond-below("mb-l") {
            position: relative;
            width: 100%;
            left: unset;
            top: unset;
            margin: 0;
            margin-top: 3em;
        }
    }

    #audioiltamat-container {
        margin-top: 15em;

        @include respond-below("mb-l") {
            margin-top: 6em;
        }

        a {
            font-size: 0.7em;
            text-align: center;
            text-decoration: underline;
        }

        #audioiltamat-modal-button {
            left: 30%;
            position: absolute;
            margin-top: -5em;
            @include respond-below("mb-l") {
                position: relative;
                left: calc(50% - 25px);
                margin-top: 1em;
            }
        }

        #audioiltamat-modal {
            margin-top: -2em;
            left: calc(30% - 180px);
            position: absolute;

            @include respond-below("mb-l") {
                position: absolute;
                margin: -25px auto;

                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

        .audioiltamat {
            max-width: 300px;
            width: 100%;

            left: 40%;
            position: relative;

            @include respond-below("mb-l") {
                position: relative;
                left: unset;
                top: unset;
                margin: 1em auto;

                audio {
                    width: 100%;
                }
            }
        }
    }

    #kuohkee {
        position: relative;
        left: 50%;
        margin-top: 3em;

        @include respond-below("mb-l") {
            position: relative;
            width: 100%;
            left: unset;
            top: unset;
            margin-top: 3em;
        }
    }

    #dumplings {
        position: relative;
        left: 20%;

        @include respond-below("mb-l") {
            position: relative;
            width: 100%;
            left: unset;
            top: unset;
            margin-top: 5em;
        }

        .hallu {
            color: #008182;
        }

        .forrester {
            color: #b3b9f0;
        }

        .salazo {
            color: #edcec5;
        }

        .pulleapupu {
            color: #fbeb90;
        }
    }

    #kuohkee {
        .mariaf {
            color: #008182;
        }

        .eero {
            color: #b3b9f0;
        }

        .sightsee {
            color: #edcec5;
        }

        .kaapeli {
            color: #fbeb90;
        }
    }

    #drag-video {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 15em;

        @include respond-below("mb-l") {
            height: unset;
        }
    }

    #kuohkee-modal {
        margin-top: -9em;
        left: calc(40% - 180px);
        position: absolute;
        @include respond-below("mb-l") {
            position: absolute;
            margin: calc(1em - 25px) auto;

            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    #kuohkee-modal-button {
        left: 40%;
        position: relative;
        bottom: 15em;
        @include respond-below("mb-l") {
            position: relative;
            left: calc(50% - 25px);
            top: 2em;
            bottom: unset;
        }
    }

    .poem {
        position: absolute;
        height: 3em;

        display: flex;
        width: 10em;

        font-size: 1.3em;

        @include respond-below("mb-l") {
            width: auto;
            font-size: 0.97em;
        }

        pre {
        }

        &.poem-1 {
            right: 20%;
            position: relative;

            @include respond-below("mb-l") {
                position: relative;
                left: 10%;
                right: unset;
            }
        }

        &.poem-2 {
            left: 20%;
            margin: 5em auto -5em auto !important;
            @include respond-below("mb-l") {
                margin: 2em auto 2em auto !important;
                position: relative;
                left: unset;
            }
        }

        &.poem-3 {
            left: 30%;
            margin: 5em auto -5em auto !important;

            @include respond-below("mb-l") {
                position: relative;
                top: unset;
                bottom: unset;
                left: 40%;
                margin: 3em auto !important;
            }
        }

        &.poem-4 {
            left: 30%;
            position: relative;

            @include respond-below("mb-l") {
                position: relative;
                top: unset;
                bottom: unset;
                left: 10%;
                margin: 3em auto !important;
            }
        }

        &.poem-5 {
            margin: 4em auto 1em auto !important;
            position: relative;

            @include respond-below("mb-l") {
                position: relative;
                top: unset;
                bottom: unset;
                left: unset;
                margin: 3em auto !important;
            }
        }
    }

    #drag-modal {
        margin-top: -1em;
        left: calc(73% - 180px);
        position: absolute;

        @include respond-below("mb-l") {
            position: absolute;
            margin: -25px auto;

            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    #drag-modal-button {
        left: 75%;
        position: relative;

        @include respond-below("mb-l") {
            position: relative;
            left: calc(50% - 25px);
            top: unset;
            bottom: unset;
        }
    }

    #poem-modal {
        left: calc(50% - 180px);
        position: absolute;
        margin-top: -25px;

        @include respond-below("mb-l") {
            position: absolute;
            margin: -25px auto;

            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    #poem-modal-button {
        position: relative;
        left: 50%;

        @include respond-below("mb-l") {
            position: relative;
            left: calc(50% - 25px);
            top: 0;
            bottom: unset;
            margin-top: -3em;
        }
    }
}

.rakkaudesta {
    h2 {
        font-family: $heading-font;
        font-size: 2.9em;
        font-weight: 400;
        margin: 0 0 0 0;
        padding: 0;

        @include respond-below("mb-l") {
            font-size: 1.6em;
        }
    }

    img {
        width: 60%;
    }
    @include respond-below("mb-l") {
        img {
            width: 100%;
        }
    }

    h3 {
        color: black;
        margin-top: 4em;
    }

    .word {
        p,
        ul {
            padding-left: 4em;
        }
    }

    ul {
        padding-left: 4em;
    }

    @include respond-below("mb-l") {
        .word {
            p,
            ul {
                padding-left: 1em;
            }
        }

        ul {
            padding-left: 1em;
        }
    }
}

.cloudbody {
    iframe {
        width: 100%;
    }
}

.tunne {
    .hole-container {
        .hole {
            margin: -5em 0 -5em 0;
            pointer-events: none;
        }
        .hole-path {
            fill: url("#bkgrnd-pattern");
        }
    }

    .bckground {
        background-attachment: fixed;
        display: flex;

        @supports (-webkit-touch-callout: none) {
            background-attachment: initial;
        }
    }

    .hole_ {
        flex: 1;
        margin: -2px -2px -9px -2px;

        #hole3_inv {
            #inner_g {
                path {
                    fill: rgba(0, 0, 0, 0);
                    stroke: black;
                    stroke-width: 0.2px;
                }
            }
            #outer_g {
                path {
                    fill: $base-color;
                    stroke: $base-color;
                    stroke-width: 0px;
                }
            }
        }
    }

    .poem {
        p {
            font-style: italic;
            color: black;
            font-size: 0.8em;
        }
    }

    .aside {
        p {
            font-family: $sans-font;
            font-size: 0.6em;
            color: black;
        }
    }

    .intro {
        p {
            font-style: italic;
            color: black;
            font-size: 0.8em;
        }
    }

    .quote {
        font-weight: 100;
        font-style: italic;
    }

    .dialogue {
        div {
            margin-bottom: 2em;
        }
    }
}
