.s2022 {
    .bckground {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }

    &.content-field {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }


    .content {
        a {
            color: $red;
            text-decoration: none;
        }
        
        color: $purp;

        .title {
                color: black
        }

        .modal-content {
            color: black;
        }
    }

    .hole_ {
        position: relative;

        height: 300px;

        @include respond-below("mb-l") {
            height: 150px;
        }

        svg {
            z-index: z("overlay");
            position: absolute;
            max-width: 100%;
        }

        &.hole_9 {
            &::before {
                mask-image: url(/img/holes/hole-12.svg);
            }

            svg {
                left: calc(50% + 0.5px);
                transform: translateX(-50%);
            }

            @include respond-below("mb-l") {
                &[data-w-p="2"],
                &[data-w-p="1"],
                &[data-w-p="0"] {
                    svg {
                        top: 0.5px;
                        left: calc(50% + 0.2px);
                        transform: translateX(-50%);
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            height: 300px;

            @include respond-below("mb-l") {
                height: 150px;
            }

            background-attachment: fixed;

            background-image: url("/img/s2022-bkgrnd.png");
            background-size: cover;
            background-position: center center;

            @supports (-webkit-touch-callout: none) {
                background-attachment: initial;
            }

            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }
    }

    .ihmiskone {
        h4 {
            text-align: center;
            font-size:.91rem;
        }

        h3 {
            color: $purp;
            text-align: center;
        }

        @include respond-below("mb-l") {
            h4 {
                font-size: 0.84rem;
            }
            h3 {
                font-size: 0.96rem
            }

        }
    }

    .p-wrapper {
            position: relative;
            padding-top: 56.25%;
                    
          .react-player {
            position: absolute;
            top: 0;
            left: 0;
          }
    }

    .housemusic {
        h3 {
            font-size: smaller;
        }

        .buttons {
            height: 50px;
            align-items: center;

            @include respond-below("mb-l") {
                height: 100px;
            }
        }

        img {
            width: 100%;
        }

        .dialogue {
            p {
                font-size: 0.6em;
            }
        }

    }

    .flowers {
        img {
            width: 100%;
        }

        h3 {
            font-size: smaller;
            text-align: center;
            color: black;
        }
    }

}
