.s2021 {
    .bckground {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.content-field {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    .palsta p {
        color: $brown;
    }

    .content {
        a {
            color: $red;
            text-decoration: none;
        }
    }
}

.jasenet {
    img {
        border: 1px solid black;
    }
}

.fluctuants {
    .container {
        margin: 0;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        .canvas {
            position: absolute;
            height: 100%;
            width: 90%;
            max-width: 700px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .floatie-container {
        position: sticky;
        width: 100%;
    }

    .floatie {
        position: absolute;
        height: 0;
        width: 20em;
        max-width: 80vw;

        button {
            position: absolute;
            top: -20px;
            right: -20px;
        }

        iframe {
            width: 20em;
            max-width: 80vw;
            max-height: calc(0.56 * 80vw);
            height: calc(0.56 * 20em);
        }
    }
}
