.s2022 {
    .bckground {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }

    &.content-field {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2022-bkgrnd.png");
        background-size: cover;
        background-position: center center;
    }

    p {
        color: $brown;
    }

    .content {
        a {
            color: $red;
            text-decoration: none;
        }
    }
}
