.s2021 {
    .bckground {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.content-field {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    &.article {
        background-image: url("/img/s2021-bkgrnd.jpg");
        background-size: cover;
        background-position: center center;
    }

    p {
        color: $brown;
    }

    .content {
        a {
            color: $red;
            text-decoration: none;
        }
    }
}

.jasenet {
    img {
        border: 1px solid black;
    }
}

.fluctuants {
    .container {
        margin: 0;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        .canvas {
            position: absolute;
            height: 100%;
            width: 90%;
            max-width: 800px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .floatie-container {
        position: sticky;
        width: 100%;
    }

    .floatie {
        position: absolute;
        height: 0;
        width: 20em;
        max-width: 80vw;

        button {
            position: absolute;
            top: -20px;
            right: -20px;
        }

        iframe {
            width: 20em;
            max-width: 80vw;
            max-height: calc(0.56 * 80vw);
            height: calc(0.56 * 20em);
        }
    }
}

.ekfrasiksesta {
    .orb-thing {
        font-size: 0.7em;
        color: black;

        label {
            width: 20px;
            height: 20px;
            position: relative;
            border-radius: 100%;
            top: 4px;
            margin: 0 10px 0 0;
            display: inline-block;

            &.blue {
                background-color: $blue;
                box-shadow: 3px 0px 6px $blue, -3px -0px 6px $blue, 0px 3px 6px $blue, 0px -3px 6px $blue;
            }
            &.brown {
                background-color: $brown;
                box-shadow: 3px 0px 6px $brown, -3px -0px 6px $brown, 0px 3px 6px $brown, 0px -3px 6px $brown;
            }
            &.teal {
                background-color: $teal;
                box-shadow: 3px 0px 6px $teal, -3px -0px 6px $teal, 0px 3px 6px $teal, 0px -3px 6px $teal;
            }
        }
    }

    div.footnotes {
        margin-top: 10em !important;
        p {
            color: black;
        }
    }

    .bckground {
        background-attachment: fixed;
        display: flex;

        @supports (-webkit-touch-callout: none) {
            background-attachment: initial;
        }
    }

    .hole_ {
        mask-size: contain;
        mask-repeat: no-repeat;
        height: 300px;
        mask-position: center;

        &.hole_5 {
            mask-image: url(/img/holes/MHPhole1_1.svg);
        }

        &.hole_6 {
            mask-image: url(/img/holes/MHPhole2_1.svg);
            mask-position: 35%;
        }

        &.hole_7 {
            mask-image: url(/img/holes/MHPhole3_1.svg);
            mask-position: 35%;
        }

        &.hole_8 {
            mask-image: url(/img/holes/MHPhole4_1.svg);
        }
    }
}
