@import "../zvalues";

.article {
    height: 100%;

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        height: 50px;
        z-index: z("toppest");
        transition: top 0.3s;

        @include respond-below("mb-l") {
            height: $mb-head-foot-size;
        }

        &.hide {
            top: -75px;
        }

        display: flex;
        align-items: center;

        .close-button {
            position: absolute;
            top: 25px;
            right: 50px;

            @include respond-below("mb-l") {
                top: $mb-head-foot-size/2.1;
                right: 5%;

                svg {
                    height: $mb-head-foot-size;
                }
            }
        }

        a {
            text-decoration: none;
        }

        h4 {
            margin: 1em;

            @include respond-below("mb-l") {
                font-size: 0.6em;
                width: 100%;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        transition: bottom 0.3s;

        z-index: z("toppest");

        &.hide {
            bottom: -50px;
        }

        @include respond-below("mb-l") {
            height: $mb-head-foot-size;
        }

        button {
            position: absolute;
            margin-top: 5px;

            @include respond-below("mb-l") {
                svg {
                    height: 0.8 * $mb-head-foot-size;
                    top: -2px;
                    position: relative;
                }
            }
        }

        .bck {
            left: 5%;
        }

        .fwd {
            right: 5%;
        }
    }

    .content {

        @include respond-below("mb-l") {
            height: calc(100% - #{2 * $mb-head-foot-size});
            top: $mb-head-foot-size;
        }
        width: 100%;
        top: 50px;

        background-color: $base-color;
        padding: 3em 2em 0 2em;

        min-height: 100vh;
        height: 100%;

        @include respond-below("mb-l") {
            padding: 3em 0.2em 6em 0.2em;
        }

        & > div {
            margin-bottom: 6em;

            @include respond-below("mb-l") {
                margin-bottom: 3em;
            }
        }

        h1 {
            text-align: center;
            line-height: 0.8;
            margin: 1em 0 0.3em 0;
        }

        h5 {
            text-align: center;
            margin: 0em;
        }

        .title {

            text-align: center;

            margin: 0 0 2em 0;

            #info-modal-button {
                margin: 2em 1em 1em 1em;
            }

            #info-modal {
                left: 0;
                right: 0;
                margin: -34px auto;

                text-align: left;
            }
        }

        .title ~ div {
            margin: 3em auto 1em auto;
        }
    }

}
