@import "../zvalues";

.article {
    height: 100%;

    .header {
        width: 100%;
        position: absolute;
        top: 0;
        height: 50px;
        background-color: transparent;
        z-index: z("overlay");

        @include respond-below("mb-l") {
            height: $mb-head-foot-size;
        }

        display: flex;
        align-items: center;

        .close-button {
            position: absolute;
            top: 25px;
            right: 50px;

            @include respond-below("mb-l") {
                top: $mb-head-foot-size/2.1;
                right: 5%;

                svg {
                    height: $mb-head-foot-size;
                }
            }
        }

        a {
            text-decoration: none;
        }

        h4 {
            margin: 1em;

            @include respond-below("mb-l") {
                font-size: 0.6em;
                width: 100%;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: transparent;

        @include respond-below("mb-l") {
            height: $mb-head-foot-size;
        }

        button {
            position: absolute;
            margin-top: 5px;

            @include respond-below("mb-l") {
                svg {
                    height: 0.8 * $mb-head-foot-size;
                    margin-top: -4px;
                }
            }
        }

        .bck {
            left: 5%;
        }

        .fwd {
            right: 5%;
        }
    }

    .content {
        height: calc(100% - 100px);

        @include respond-below("mb-l") {
            height: calc(100% - #{2 * $mb-head-foot-size});
            top: $mb-head-foot-size;
        }
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: z("default");
        background-color: $base-color;
        overflow-y: scroll;
        padding: 0 2em 0 2em;
        overflow-x: hidden;

        @include respond-below("mb-l") {
            padding: 0 0.2em 6em 0.2em;
        }

        & > div {
            margin-bottom: 6em;

            @include respond-below("mb-l") {
                margin-bottom: 3em;
            }
        }

        h1 {
            text-align: center;
            line-height: 0.8;
            margin: 1em 0 0.3em 0;
        }

        h5 {
            text-align: center;
            margin: 0em;
        }

        .title {
            text-align: center;
            margin: 0 0 2em 0;

            #info-modal-button {
                margin: 2em 1em 1em 1em;
            }

            #info-modal {
                left: 0;
                right: 0;
                margin: -34px auto;
            }
        }

        .title ~ div {
            margin: 3em auto 1em auto;
        }
    }
}
