@import "../media_queries";

.homepage {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;

    @include respond-below("mb-l") {
        grid-template-columns: 100%;
        grid-template-rows: 25vw 1fr;
    }

    .info-button {
        position: absolute;
        top: 5%;
        right: 3em;

        z-index: z("overlay");

        @include respond-below("mb-l") {
            top: 27vw;
            right: 1em;
        }
    }

    .title-bar {
        background-color: $base-color;
        grid-area: 1/1/2/2;
        position: relative;

        @include respond-below("mb-l") {
            grid-area: 1/1/2/2;
            text-align: left;
            display: flex;
            align-items: center;
        }

        text-align: center;

        a {
            img {
                width: 60%;
                margin: 1em auto;
                position: relative;

                @include respond-below("mb-l") {
                    height: 70%;
                    width: auto;
                    margin: 0;
                    margin-left: 0.4em;
                    top: 15%;
                    z-index: z("default");
                    position: absolute;
                }
            }
        }

        .pub-logo {
            transform: translate(-50%, -50%) rotate(90deg);
            left: 50%;
            top: 50%;
            min-width: 500px;
            width: 70vh;
            position: absolute;
        }

        h3 {
            position: absolute;
            bottom: 1em;
            width: 100%;
            font-size: 1rem;
        }

        @include respond-below("mb-l") {
            h3 {
                font-size: 0.5em;
                text-align: right;
                position: static;
                margin-left: -2em;
                margin-top: 5em;
            }
            .pub-logo {
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                min-width: unset;
                width: 85%;
                position: absolute;
                z-index: z("overlay");
            }
        }

        @include respond-above("mb-l") {
            & > div {
                position: absolute;
                width: 220px;
                bottom: 0.5em;

                h3 {
                    font-size: 0.8em;
                }
            }
        }
    }

    .content-area {
        grid-area: 1/2/2/3;
        overflow-x: scroll;
        overflow-y: hidden;
        display: grid;
        grid-template-rows: 100%;
        grid-auto-columns: 100% 100% 100% 100%;
        grid-auto-flow: column;
        position: relative;
        transition: filter 0.7s;


        &.blur {
            filter: blur(30px);
            transition: filter 0.5s;
        }

        z-index: 0;
        @include respond-below("mb-l") {
            grid-area: 2/1/3/2;
            scroll-snap-type: x mandatory;
            scroll-behavior: auto;
            scroll-snap-stop: always;
        }

        .dots {
            position: fixed;
            bottom: 2em;
            text-align: center;
            width: 80%;
            z-index: z("overlay");

            @include respond-below("mb-l") {
                width: 100%;
                bottom: 0.5em;
            }

            label {
                top: -5px;
                width: 11px;
                height: 11px;
                margin: 0 4px;
                position: relative;
                border-radius: 100%;
                display: inline-block;
                background-color: rgba(0, 0, 0, 0.6);

                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.8);
                }

                &.active {
                    background: rgba(0, 0, 0, 0.8);
                }
            }
        }

        .buffer-zone {
            width: 100%;
            height: 100%;
            background-color: ivory;
        }
    }

    .content-field {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        scroll-snap-align: start;

        .ekfrasis-link {
            margin-top: -1em;
        }

        .article-link {
            clear: both;

            max-height: 200px;

            a {
                word-break: break-word;
            }

            h1 {
                margin: 1em 0 0 5%;
                position: relative;
                line-height: 0.9;
                z-index: 1;
                float: left;

                max-width: 60%;

                h2 {
                    font-family: $heading-font;
                    font-size: 0.6em;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;

                    @include respond-below("mb-l") {
                        font-size: 0.7em;
                    }
                }

                @include respond-below("l") {
                    font-size: 2.3em;
                }

                @include respond-below("mb-l") {
                    font-size: 1.5em;
                    position: absolute;
                    z-index: z("overlay");
                    margin: 1em 0.5em 0 0.5em;
                    float: none;
                    line-height: 0.7;

                    .smaller {
                        font-size: 0.8em;
                    }
                }
            }

            a:hover {
                h1 {
                    animation: pulse-animation 2s ease-in-out 0s infinite;
                }
            }

            .hole {
                height: auto;
                position: relative;
                margin: -0.7em 0 0 0;

                @include respond-below("mb-l") {
                    position: absolute;
                }

            }

            .hole-container {
                @include respond-below("mb-l") {
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }

            .spacer {
                height: 100%;
                width: 10%;
                float: left;

                @include respond-below("l") {
                    width: 0%;
                }

                @include respond-between("l", "xl") {
                    width: 6%;
                }

                @include respond-above("xl") {
                    width: 15%;
                }
            }

            @include respond-above("mb-l") {
                #hole1 {
                    width: 35%;
                }

                #hole4 {
                    width: 37%;
                    left: -30%;
                    margin-right: -45%;
                }

                #hole2 {
                    float: left;
                    left: 0%;
                    width: 17%;
                }

                #hole3 {
                    top: 5%;
                    margin-right: -35%;
                    left: -30%;
                    max-height: 30vh;
                    height: 120%;
                }

                #hole5 {
                    float: left;
                    width: 45%;
                    left: 10%;
                    top: 30%;
                    margin-left: -10em;
                }

                #hole6 {
                    width: 45%;
                }

                #hole7 {
                    max-height: 140%;
                    width: 35%;
                    top: 10%;
                    margin-left: -7%;
                    float: left;
                    left: 14%;
                    margin-right: 5%;
                }

                #hole8 {
                    width: 46%;
                    top: 0;
                    float: right;
                    margin-right: -5em;
                    right: 8%;
                }

                #hole9 {
                    width: 37%;
                    left: -15%;
                    float: right;
                }

                #hole10 {
                    float: right;
                    left: 2%;
                    top: -27%;
                    height: 30vh;
                }

                #hole11 {
                    width: 70%;
                    max-width: 40vw;
                    float: right;
                    top: -15%;

                }

                #hole12 {
                    float: left;
                    width: 26%;
                    top: 26%;
                    
                }
            }

            @include respond-below("mb-l") {
                #hole1 {
                    height: 140%;
                    right: -5%;
                }
                #hole4 {
                    height: 100%;
                    left: 10%;
                    margin-top: 1em;
                }

                #hole2 {
                    height: 120%;
                    right: 5%;
                    top: 15%;
                }

                #hole3 {
                    height: 120%;
                    top: 0%;
                    left: 5%;
                }

                #hole5 {
                    height: 80%;
                    top: 45%;
                    right: 5%;
                }

                #hole6 {
                    height: 120%;
                    top: 5%;
                    left: 5%;
                }

                #hole7 {
                    height: 110%;
                    right: 0;
                    top: 30%;
                }

                #hole8 {
                    height: 74%;
                    top: 30%;
                    left: 5%;
                }

                #hole9 {
                    height: 80%;
                    top: 10%;
                    left: 10%;
                }

                #hole10 {
                    height: 90%;
                    top: 5%;
                    left: 10%;
                }

                #hole11 {
                    height: 38%;
                    left: 17%;
                    top: 50%;

                    @include respond-below("mb-m") {
                        left: 24%;
                    }
                }

                #hole12 {
                    height: 74%;
                    top: 30%;
                    right: 5%;
                }

                
            }

            position: relative;

            @include respond-above("mb-l") {
                &:nth-of-type(2n) {
                    h1 {
                        float: right;
                        margin: 1em 5% 0 0;
                        text-align: right;
                    }
                    .hole {
                        float: right;
                    }

                    .spacer {
                        float: right;
                    }
                }
            }

            @include respond-below("mb-l") {
                &:nth-of-type(2n) {
                    h1 {
                        right: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
}
