@import "../media_queries";

.homepage {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;

    @include respond-below("mb-l") {
        grid-template-columns: 100%;
        grid-template-rows: 25vw 1fr;
    }

    .info-button {
        position: absolute;
        top: 5%;
        right: 3em;

        z-index: z("overlay");

        @include respond-below("mb-l") {
            top: 27vw;
            right: 1em;
        }
    }

    .title-bar {
        background-color: $base-color;
        grid-area: 1/1/2/2;
        position: relative;

        @include respond-below("mb-l") {
            grid-area: 1/1/2/2;
            text-align: left;
            display: flex;
            align-items: center;
        }

        text-align: center;

        a {
            img {
                width: 70%;
                margin: 1em auto;
                position: relative;

                @include respond-below("mb-l") {
                    height: 70%;
                    width: auto;
                    margin: 0;
                    margin-left: 0.4em;
                    top: 15%;
                    z-index: z("default");
                    position: absolute;
                }
            }
        }

        h1 {
            transform: rotate(90deg);
            margin: 0.5em;
            margin-top: -0.5em;
            font-size: 2.8rem;
        }

        h3 {
            position: absolute;
            bottom: 1em;
            width: 100%;
            font-size: 1.2rem;
        }

        @include respond-below("mb-l") {
            h3 {
                font-size: 0.5em;
                text-align: right;
                position: static;
                width: unset;
                margin-left: -2em;
            }
            h1 {
                transform: none;
                font-size: 1.6em;
                text-align: center;
                width: 100%;
                margin: 0;
                z-index: z("overlay");
            }
        }

        @include respond-above("mb-l") {
            & > div {
                position: absolute;
                width: 220px;
                bottom: 0.5em;

                h3 {
                    font-size: 0.8em;
                }
            }
        }
    }

    .content-area {
        grid-area: 1/2/2/3;
        overflow-x: scroll;
        display: grid;
        grid-template-rows: 100%;
        grid-auto-columns: 100%;
        grid-auto-flow: column;
    }

    .content-field {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;

        @include respond-below("mb-l") {
            grid-area: 2/1/3/2;
        }

        .article-link {
            clear: both;

            max-height: 200px;

            a {
                h1 {
                    text-shadow: 0px 0px 0px gold;
                    transition: text-shadow linear 0.3s;
                }
            }

            a:hover {
                h1 {
                    text-shadow: 2px 2px 3px gold;
                }
            }

            .hole {
                height: 160%;
                position: relative;
                margin: -0.7em 0 0 0;

                @include respond-below("mb-l") {
                    position: absolute;
                }
            }

            .spacer {
                height: 100%;
                width: 10%;
                float: left;

                @include respond-below("l") {
                    width: 0%;
                }

                @include respond-between("l", "xl") {
                    width: 6%;
                }

                @include respond-above("xl") {
                    width: 15%;
                }
            }

            @include respond-above("mb-l") {
                #hole4 {
                    height: 110%;
                }

                #hole2 {
                    float: right;
                    margin-right: 3em;
                }

                #hole3 {
                    height: 150%;
                    margin-top: -2em;
                }
            }

            @include respond-below("mb-l") {
                #hole1 {
                    height: 140%;
                    right: 10%;
                }
                #hole4 {
                    height: 110%;
                    left: 15%;
                    margin-top: 1em;
                }

                #hole2 {
                    height: 140%;
                    right: 15%;
                }

                #hole3 {
                    height: 150%;
                    margin-top: -0.5em;
                    left: 10%;
                }
            }

            position: relative;

            h1 {
                margin: 1em 0 0 5%;
                position: relative;
                line-height: 0.9;
                float: left;

                @include respond-below("mb-l") {
                    font-size: 1.5em;
                    position: absolute;
                    z-index: z("overlay");
                    margin: 1em 0.5em 0 0.5em;
                    float: none;
                }
            }

            @include respond-above("mb-l") {
                &:nth-of-type(2n) {
                    h1 {
                        float: right;
                        margin: 1em 5% 0 0;
                    }

                    .hole {
                        float: right;
                    }

                    .spacer {
                        float: right;
                    }
                }
            }

            @include respond-below("mb-l") {
                &:nth-of-type(2n) {
                    h1 {
                        right: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
}
