@import "../media_queries";

.homepage {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;

    @include respond-below("mb-l") {
        grid-template-columns: 100%;
        grid-template-rows: 30vw 1fr;
    }

    .info-button {
        position: absolute;
        right: 100px;
        top: 50px;

        z-index: z("overlay");
    }

    .title-bar {
        background-color: $base-color;
        grid-area: 1/1/2/2;

        @include respond-below("mb-l") {
            grid-area: 1/1/2/2;
        }

        text-align: center;

        img {
            width: 70%;
            margin: 1em auto;
        }

        h1 {
            transform: rotate(90deg);
            margin: 0.5em;
            font-size: 3em;
        }

        & > div {
            position: absolute;
            width: 220px;
            bottom: 0.5em;

            h3 {
                font-size: 0.8em;
            }
        }
    }

    .content-field {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        grid-area: 1/2/2/3;

        overflow: hidden;

        @include respond-below("mb-l") {
            grid-area: 2/1/3/2;
        }

        .article-link {
            clear: both;

            max-height: 200px;

            &:hover {
                h1 {
                    text-shadow: 2px 2px gold;
                }
            }

            .hole {
                height: 140%;
                position: relative;
                margin: -0.7em 0 0 0;
            }

            .spacer {
                height: 100%;
                width: 10%;
                float: left;

                @include respond-below("l") {
                    width: 0%;
                }

                @include respond-between("l", "xl") {
                    width: 6%;
                }

                @include respond-above("xl") {
                    width: 15%;
                }
            }

            #hole4 {
                height: 110%;
            }

            #hole2 {
                float: right;
                margin-right: 3em;
            }

            #hole3 {
                height: 150%;
                margin-top: -2em;
            }

            // #hole1 {
            //     right: 12%;
            //     margin-top: -6%;
            //     height: 160%;
            // }
            // #hole2 {
            //     right: 12%;
            //     margin-top: 1%;
            //     height: 110%;
            // }
            // #hole3 {
            //     left: 8%;
            //     height: 150%;
            //     margin-top: -2%;
            // }

            position: relative;

            h1 {
                margin: 1em 0 0 5%;
                position: relative;
                line-height: 0.9;
                float: left;
            }

            &:nth-of-type(2n) {
                h1 {
                    float: right;
                    margin: 1em 5% 0 0;
                }

                .hole {
                    float: right;
                }

                .spacer {
                    float: right;
                }
            }
        }
    }
}
